# Виртуальное окружение
venv/
env/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Файлы сессий Telegram
sessions/*
!sessions/.gitkeep

# Файлы базы данных
*.db
*.sqlite3

# Переменные окружения
.env

# Логи
*.log
